.cards {
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px;
  font-size: 16px;
  text-align: center;
}
.white-card {
  background-color: transparent;
}

.card .card-icon {
  max-width: 48px;
}

.white-card .card-title {
  color: #040610;
  line-height: 25.6px;
  font-weight: 700;
}
.white-card .card-desc {
  line-height: 25.6px;
  font-weight: 400;
  color: #5c6c7b;
  letter-spacing: 1.003px;
}

/* dark card */
.dark-blue-card {
  background-color: #0d132e !important;
}
.dark-blue-card .card-title {
  color: #ffffff;
}
.dark-blue-card .card-desc {
  color: #edf0f3;
  letter-spacing: 1.003px;
}

@media screen and (max-width: 992px) {
  .cards {
    flex-direction: column;
  }
}
