.why-us {
  background: #0a2f5a;
  font-family: "PT Sans", sans-serif;
}
.why-us-wrap {
  /* display: flex; */
  /* gap: 30px; */
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two equal columns */
  gap: 20px; /* Space between items */
  padding: 20px;
}
.bg-image {
  max-height: 672px;
}
.bg-image img {
  height: 100%;
  width: 100%;
  margin: -15px -20px  -30px -30px;
}

.progress-bar {
  max-height: 298px;
  max-width: 560px;
  width: 100%;
}
.why-us .why-us-subtitle {
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  text-align: left;
  color: #e37016;
}
.why-us .why-us-heading {
  font-family: "PT Sans", sans-serif;
  font-size: 48px;
  font-weight: 800;
  line-height: 52.8px;
  text-align: left;
  color: white;
  max-width: 389px;
}
.why-us .why-us-desc {
  max-width: 560px;
  color: #5c6c7b;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  text-align: left;
}

@media (max-width: 992px) {
  .why-us-wrap {
    /* flex-direction: column;
    width: 73%;
    margin-inline: auto; */
    grid-template-columns: repeat(1, 1fr);
  }
  .why-us-article {
    width: 100%;
  }
}

@media screen and (max-width: 574px) {
  .why-us .why-us-heading {
    font-size: 20px;
  }
  .why-us-wrap {
    flex-direction: column;
    width: 95%;
    margin-inline: auto;
  }
  .why-us .why-us-heading {
    line-height: 32.8px;
  }
}
