@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}
body {
  font-family: "PT Sans", sans-serif;
}

/* toggle style
.custom-toggler {
  display: none !important;
  background-color: transparent !important;
  border: transparent !important;
  color: #fff;
} */
.logo {
  width: 150px;
  height: 50px;
}
@media (max-width: 480px) {
  /* .custom-toggler {
    display: block !important;
  } */
  .logo {
    width: 120px;
    height: 40px;
  }
}
/* @media (max-width: 768px) {
  .custom-toggler {
    display: block !important;
  }
}  */
.toggle-nav {
  border: none !important;
  background-color: transparent;
  color: #fff;
  height: 100%;
  text-align: center;
  margin: 20px auto;
  box-sizing: border-box;
}
.toggle-nav:active {
  border: none !important;
  background-color: transparent;
  color: #fff;
}

/* top bar */
.top-bar {
  background-color: #fff;
  color: #0a2f5a;
}

.contact-info {
  font-size: 17px;
  color: #0a2f5a;
  font-weight: 500;
}

.icon {
  font-size: 24px;
  font-weight: 500;
  color: #0077e5;
}
.working-hours {
  font-size: 16px;
  color: #0b0b0b;
  font-weight: 450;
  letter-spacing: 1px;
}
@media (max-width: 768px) {
  .contact-info,
  .working-hours {
    display: block;
    font-size: 15px;
    color: #0a2f5a;
    font-weight: 500;
    text-align: center;
  }
  .icon {
    font-size: 16px;
  }
}
@media (max-width: 375px) {
  .contact-info,
  .working-hours {
    display: block;
    font-size: 12px;
    color: #0a2f5a;
    font-weight: 500;
    text-align: center;
  }
  .icon {
    font-size: 16px;
  }
}
/* navigation bar style */
.main-header {
  background-color: #0a2f5a;
  z-index: 999;
}
.navbar-brand img {
  max-height: 50px;
}

.navbar-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 12px;
  gap: 30px;
}

.navbar-item .nav-link {
  font-size: 1.2rem;
  margin: 0;
  padding: 10px 0;
  color: #fff;
  text-align: center;
  font-weight: 400;
  margin-right: 20px;
  transition: color 0.3s ease;
}
.navbar-item:hover {
  color: #f7931e !important;
}
.navbar-item .nav-link:hover {
  color: #f7931e !important;
}
.navbar-item .nav-link:focus {
  color: #f7931e !important;
}
@media (max-width: 768px) {
  .navbar-item .nav-link {
    margin-top: 20px;
  }
  .navbar-brand img {
    max-height: 50px;
    width: 30;
  }
}

/* dropdown section */
.services-dropdown {
  position: relative;
  background-color: none !important;
}

.dropdown-card h6 {
  font-weight: 600;
  color: #000;
  margin-bottom: 15px;
}

.dropdown-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 700px !important;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 50%;
  transform: translateX(-53%);
  z-index: 999;
}

.dropdown-card .nav-item-title {
  font-weight: 700;
  color: #333;
  margin-bottom: 20px;
}

.dropdown-card .nav-item-link {
  font-weight: 400;
  color: #555;
  margin-bottom: 10px;
}

.dropdown-card .nav-item-link:hover {
  color: #f7931e !important;
}

@media (max-width: 768px) {
  .dropdown-card {
    display: grid;
    grid-template-columns: 1fr;
    width: auto !important;
    height: 150px;
    font-size: 15px;
    padding: 5;
    overflow: scroll;
  }
}

.book-demo-btn {
  margin-left: 10px;
  background-color: #00b4d8 !important;
  border-color: #00b4d8 !important;
  font-weight: 600;
  color: #fff !important;
  padding: 12px 20px !important;
  font-size: 20px !important;
  margin-right: -20px;
}
@media (max-width: 768px) {
  .book-demo-btn {
    width: 100%;
    margin-left: 0;
    text-align: center;
    justify-content: center;
    margin: 20px auto;
  }
}

/* footer style start here */
.footer {
  background-color: #0d132e;
  color: #fff;
  padding: 50px 0;
  margin-top: -7%;
}

.footer h3 {
  color: white;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.5;
}
.footer h4 {
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
}
.footer .contact-details p,
.footer-links {
  color: white;
  margin: 10px 0;
}
.contact-details p {
  font-size: 16px;
  font-weight: 300;
}
.info {
  display: flex;
  justify-content: stretch;
}
.info .icon {
  margin-right: 10px;
  margin-top: 12px;
  color: #fff;
  font-size: 18px;
}
.footer .footer-links {
  list-style: none;
  padding: 0;
}

.footer .footer-links li {
  margin-bottom: 10px;
}

.footer .footer-links li a {
  color: #aaa;
  text-decoration: none;
}

.footer .footer-links li a:hover {
  color: #fff;
  text-decoration: underline;
}

.footer .social-links {
  margin-top: 65%;
}

.footer .social-icon {
  margin-right: 15px;
  font-size: 1.5rem;
  text-decoration: none;
}

.footer .social-icon:hover {
  transition: 0.5s ease;
}
.copywrite {
  padding: 5px;
  background-color: #0a2f5a;
}
@media (max-width: 768px) {
  .footer h3 {
    font-size: 2rem;
  }
  .footer h4 {
    font-size: 1.4rem;
  }
  .footer .social-links {
    margin-top: 10%;
  }
}
@media (max-width: 480px) {
  .footer h3 {
    font-size: 2rem;
  }
  .footer h4 {
    font-size: 1.4rem;
  }
  .footer .social-links {
    margin-top: 10%;
  }
}

.explore-button {
  margin-top: 30px;
  padding: 15px 25px;
  background-color: #007bff;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin: 60px auto;
  display: block;
}

/* explore Styles */
@media (max-width: 768px) {
  .explore-button {
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .explore-button {
    margin-top: 10px;
  }
}
